<nz-spin [nzSpinning]="loading">
  <div class="cart__container">
    <div *ngIf="!loading" class="cart__list-wrapper">
      <h2>Корзина</h2>
      <nz-list nzItemLayout="vertical">
        <span *ngIf="!cart.length">Корзина пока пуста</span>
        <nz-list-item *ngFor="let product of cart">
          <nz-list-item-meta>
            <nz-list-item-meta-title>
              <a routerLink="/product" [queryParams]="{id: product.productId}">{{product.category}}
                / {{ product.name }}</a>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description>
              {{ product.price }} ₽
            </nz-list-item-meta-description>
          </nz-list-item-meta>
          <ul nz-list-item-actions>
            <nz-list-item-action>
              <button nz-button nzType="default" nzShape="circle" (click)="removeFromCart(product.productId)">
                <span nz-icon nzType="delete" nzTheme="outline"></span>
              </button>
            </nz-list-item-action>
            <nz-list-item-action>
              <button nz-button nzType="default" nzShape="circle" (click)="addToFavorites(product.productId)">
                <span nz-icon nzType="heart"
                      [nzTheme]="isProductInFavorites(product.productId) ? 'fill' : 'outline'"></span>
              </button>
            </nz-list-item-action>
          </ul>
          <nz-list-item-extra>
            <nz-empty nzNotFoundContent="Нет фото"></nz-empty>
          </nz-list-item-extra>
        </nz-list-item>
      </nz-list>
      <div>
        <button *ngIf="cart.length" nz-button nzType="primary" (click)="onCreateButtonClick()"
                [nzLoading]="createButtonLoading">Оформить заказ
        </button>
      </div>
    </div>
  </div>
</nz-spin>
