<div class="register__container">
  <div class="register__form-wrapper">

    <form nz-form [formGroup]="registrationForm" class="register__form" (ngSubmit)="submitForm()">

      <nz-form-item>
        <nz-form-label [nzXs]="24" nzFor="username">Имя пользователя</nz-form-label>
        <nz-form-control [nzXs]="24">
          <nz-input-group nzSize="large">
            <input type="text" nz-input formControlName="username"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzXs]="24" nzFor="password">Пароль</nz-form-label>
        <nz-form-control [nzXs]="24">
          <nz-input-group nzSize="large">
            <input type="password" nz-input formControlName="password"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzXs]="24" nzFor="username">Имя</nz-form-label>
        <nz-form-control>
          <nz-input-group nzSize="large">
            <input type="text" nz-input formControlName="firstName"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzXs]="24" nzFor="username">Фамилия</nz-form-label>
        <nz-form-control>
          <nz-input-group nzSize="large">
            <input type="text" nz-input formControlName="lastName"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzXs]="24" nzFor="username">Email</nz-form-label>
        <nz-form-control>
          <nz-input-group nzSize="large">
            <input type="email" nz-input formControlName="email"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzXs]="24" nzFor="username">Адрес доставки</nz-form-label>
        <nz-form-control>
          <nz-input-group nzSize="large">
            <textarea nz-input rows="2" [nzAutosize]="{ maxRows: 4 }" formControlName="address"></textarea>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <button nz-button [nzLoading]="loading" class="register__submit-button" nzType="primary" nzSize="large">
        Регистрация
      </button>
    </form>

  </div>
</div>
