.product__container {
  min-height: 200px;
  height: 100%;
  width: 100%;
  padding: 32px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__card {
  width: 1272px;
  display: flex;
  margin-bottom: 48px;

  > :not(:last-child) {
    margin: 44px 64px 0 0;
  }
}

.product__card-left {
  width: 200px;
  display: flex;
  flex-direction: column;

  > :not(:last-child) {
    margin-bottom: 12px;
  }
}

.product__card-divider {
  margin: 24px 0 !important;
}

.product__photo {
  width: 200px;
  height: 200px;
  margin: 0;
}

.product__reviews-title {
  display: flex;
  align-items: center;

  > h2 {
    margin-bottom: 0 !important;
  }

  > :not(:last-child) {
    margin-right: 24px;
  }
}

.product__reviews {
  width: 1272px;
  display: flex;
  flex-direction: column;
}

.product__modal-form {
  nz-form-label {
    text-align: left;
  }
}
